@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    background-color: rgb(17, 23, 36);
}

nav{
    padding: 10px 30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(17, 23, 36);
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    height: 80px;
    color: aliceblue;
}
.name h2{
    font-family: "Roboto Condensed", sans-serif;
    margin-left:35px;
    margin-top: 20px;
    color: blue;
    font-size: 2rem;
    align-items: center;
    text-align: center;
}
#ullist{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
#darkmode{
    margin-top: 20px;
    background-color: transparent;
    color: aliceblue ;
    border: none;
    font-size: 1.8rem;
    align-items: center;
    cursor: pointer;
}
#darkmode:hover{
    color: yellow;
}
#navList{
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}
.list,#darkmode{
    transition: transform 0.2s ease;
}
.list:active,#darkmode:active{
    transform: scale(0.96);
}
.list:hover{
    color: blue;
    text-decoration: underline;
}
#current{
    color: blue;
    text-decoration: underline;
}
#navList li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

.menu-icon{
    display: none;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.menu-icon i{
    color: aliceblue;
    font-size: 30px;
    transition: transform 0.2s ease;
}
.menu-icon:active,.menu-icon i:active{
    transform: scale(0.96);
}

.container{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.content{
    position: relative;
    padding: 10px 20px;
    width: 50%;
    color: aliceblue;
}
.text{
    padding: 10px 10px;
    position: relative;
    border: 3px solid blue;
    border-radius: 15px;
    font-size: 16px;
}
.text h3{
    color: blue;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.container::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: aliceblue;
    left: 50%;
    top: 0%;
    margin-left: -3px;
    z-index: -1px;
}

.ul li{
    margin: 5px;
} 
.left-container::before {
    content: '';
    position: absolute;
    border: solid blue;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
    left: 99.5%;
    transform: translateX(-50%) rotate(135deg);
    top: 25px;
}

.right-container::before {
    content: '';
    position: absolute;
    border: solid blue;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
    right: 100%;
    transform: translateX(50%) rotate(-50deg);
    top: 25px;
}
/*  */
@media (max-width:770px){
    #navList{
        font-size: 20px;
    }
}
/*  */
@media (max-width:686px){
    #navList{
        font-size: 16px;
    }
}
/*  */
@media (max-width:625px) {
    .name h2{
        margin-left: 0px;
    }
    #darkmode{
        display: inline-block;
        margin-left: 30vw;
        font-size: 28px;
    }
    #navList{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: rgb(17, 23, 36);
        gap: 0;
        overflow: hidden;
    }
    #navList li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
/*  */
@media (max-width:500px) {
    .left-container::before {
        left: 0.5%;
        transform: translateX(50%) rotate(-50deg);
    }
    .right-container::before {
        left: 0.5%;
        transform: translateX(50%) rotate(-50deg);
    }
    .container{
        margin: 50px auto;
    }
    .container::after{
        left: 31px;
    }
    .content{
        width: 100%;
        padding-left: 40px;
        padding-right: 15px;
    }
    .text{
        font-size: 16px;
    }
    .right-container{
        left: 0;
    }
}
/*  */
@media (max-width:431px){
    .name h2{
        margin-left: 0px;
    }
} 
/*  */
@media (max-width:376px){
    .name h2{
        margin-left: 0px;
    }
} 
